html, body{
	width: 100%;
	min-height: 100%;
}

body{
	background: url("../images/blue_space.jpg");
}
p{
	word-wrap: break-word;
	margin-top: 5px;
	margin: auto;
	width: 90%;
}
.content-tab h3, .content-tab p{
	margin-left: 10px;
} 
.header h1{
	color: #D3D3D3;
	margin-top:100px;
}
.lilith{
	color: skyblue;
}
.bodyContent{
	background-clip:content-box;
	border: 5px solid rgba(128,128,128,0.5);
	/*background-color: white;*/
	min-height: 600px;
	height: auto;
	border-radius: 10px;
}
.firstSidePanel{
	background-color: white;
	border: 5px solid grey;
	height:75px;
	margin-top:50px;
	border-radius: 10px;
}
.secondSidePanel{
	background-color: white;
	border: 5px solid grey;
	height:250px;
	margin-top:10px;
	border-radius: 10px;	
}
.thirdSidePanel{
	background-color: white;
	border: 5px solid grey;
	height:150px;
	margin-top:10px;
	border-radius: 10px;	
}
.navGutter{
	padding: 0;
}
.gridBox{
	border: 1px solid rgba(0,0,0,0);
	display: inline-block;
	margin: 0 -2px;
	-moz-transition: all .25s ease;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
}
.gridContainer{
	margin: auto;
}

#projects{
	padding: 10px;
}
.gridBoxAnchor{
	position: relative;
	color: white;
}
.gridBoxAnchor:hover p{
	opacity: 1;
	-moz-transition: opacity .25s ease;
	-webkit-transition: opacity .25s ease;
	transition: opacity .25s ease;
}

.gridBoxAnchor:hover .gridBox{
	opacity: 0.5;
	border-color: rgba(0,0,0,1);
}
.gridBoxAnchor p{
	position: absolute;
	top: 100px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	width: 98%;
	height: 50px;
	opacity: 0;
	-moz-transition: opacity .25s ease;
	-webkit-transition: opacity .25s ease;
	transition: opacity .25s ease;
	z-index: 2;
	color: white;
	text-shadow: 0 0 2px black;
}
/*.teemo_text{
	visibility: hidden;
}*/


/*.return_void_text, .block_game_text, .teemo_clone_text, .teemo_two_text{
	visibility: hidden;
	position: absolute;
	z-index: 100;
	color: red;
}*/

/*.teemo_hover{
	position: absolute;
}*/

/*.teemo_text{
	z-index: 100;
	position:absolute;    
    color:black;
    font-size:24px;
    font-weight:bold;
    left:150px;
    top:100px;	
    visibility: hidden;
}
*/
/*.teemo_text{
	border: 2px solid red;
	width: 200px;
	position: absolute;

}*/
/*.teemo_text{
	position:absolute;
	bottom:30px;
	left:0px;
	visibility: hidden;
}*/
/*.return_void_hover, .block_game_hover, .teemo_hover, .teemo_clone_hover, .teemo_two_hover{
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	visibility: visible;
}

.return_void_hover:hover, .block_game_hover:hover, .teemo_hover:hover, .teemo_clone_hover:hover, .teemo_two_hover:hover{
	opacity: 0.75;	
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	visibility: visible;
}*/

/*.return_void_text, .block_game_text, .teemo_clone_text, .teemo_two_text{*/
	/*visibility: hidden;*/
	/*position: absolute;*/
/*	z-index: 100;
	color: red;*/
/*}*/

/*.teemo_container p{
	position: absolute;
}*/

@media screen and (min-width: 1201px){
	.gridContainer{
		width: 798px;
	}
	.gridBox{
		width: 200px;
		height: 200px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1200px){
	.gridContainer{
		width: 598px;
	}
	.gridBox{
		width: 200px;
		height: 200px;
	}
}	

@media screen and (min-width: 768px) and (max-width: 991px){
	.gridContainer{
		width: 398px;
	}

	.gridBox{
		width: 200px;
		height: 200px;
	}

}	
@media screen and (max-width: 767px){
	.gridContainer{
		width: 90%;
	}

	.gridBox{
		width: 50%;
		height: auto;
	}

}	
