html, body{
	width: 100%;
	min-height: 100%;
}

body{
	background: url("../images/blue_space.jpg");
}
p{
	word-wrap: break-word;
	margin-top: 5px;
	margin: auto;
	width: 90%;
}
.content-tab h3, .content-tab p{
	margin-left: 10px;
} 
.header h1{
	color: #D3D3D3;
	margin-top:100px;
}
.lilith{
	color: skyblue;
}
.bodyContent{
	background-clip:content-box;
	border: 5px solid rgba(128,128,128,0.5);
	min-height: 600px;
	height: auto;
	border-radius: 10px;
}
.firstSidePanel{
	background-color: white;
	border: 5px solid grey;
	height:75px;
	margin-top:50px;
	border-radius: 10px;
}
.secondSidePanel{
	background-color: white;
	border: 5px solid grey;
	height:250px;
	margin-top:10px;
	border-radius: 10px;	
}
.thirdSidePanel{
	background-color: white;
	border: 5px solid grey;
	height:150px;
	margin-top:10px;
	border-radius: 10px;	
}
.navGutter{
	padding: 0;
}
.gridBox{
	border: 1px solid rgba(0,0,0,0);
	display: inline-block;
	margin: 0 -2px;
	-moz-transition: all .25s ease;
	-webkit-transition: all .25s ease;
	transition: all .25s ease;
}
.gridContainer{
	margin: auto;
}

#projects{
	padding: 10px;
}
.gridBoxAnchor{
	position: relative;
	color: white;
}
.gridBoxAnchor:hover p{
	opacity: 1;
	-moz-transition: opacity .25s ease;
	-webkit-transition: opacity .25s ease;
	transition: opacity .25s ease;
}

.gridBoxAnchor:hover .gridBox{
	opacity: 0.5;
	border-color: rgba(0,0,0,1);
}
.gridBoxAnchor p{
	position: absolute;
	top: 150px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	width: 98%;
	height: 0px;
	opacity: 0;
	-moz-transition: opacity .25s ease;
	-webkit-transition: opacity .25s ease;
	transition: opacity .25s ease;
	z-index: 2;
	color: black;
	text-shadow: 0 0 2px black;
	/*font-size: 1vw;*/
}

@media screen and (min-width: 1201px){
	.gridContainer{
		width: 798px;
	}
	.gridBox{
		width: 200px;
		height: 200px;
	}
	.gridBoxAnchor p{
		font-size: 30px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1200px){
	.gridContainer{
		width: 598px;
	}
	.gridBox{
		width: 200px;
		height: 200px;
	}
	.gridBoxAnchor p{
		font-size: 20px;
	}
}	

@media screen and (min-width: 768px) and (max-width: 991px){
	.gridContainer{
		width: 398px;
	}
	.gridBox{
		width: 200px;
		height: 200px;
	}
	.gridBoxAnchor p{
		font-size: 20px;
	}
}	
@media screen and (max-width: 767px){
	.gridContainer{
		width: 90%;
	}

	.gridBox{
		width: 50%;
		height: auto;
	}
	.gridBoxAnchor p{
		font-size: 20px;
	}

}	
